.page_category>section>header {
  margin-bottom: 2rem;
  background-color: #f6f6f6;
  box-shadow: 0 -10px 25px #930077;
}

.page_category>section>header>.inner {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.page_category>section>header>.inner>img {
  position: relative;
  top: 50%;
  float: right;
  height: 150%;
  transform: translateY(-50%);
}

.cat-info {
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 2rem;
  transform: translateY(-50%);
}

.cat-info>p,
.cat-info>h1 {
  margin: 1rem 0;
  text-align: left;
}

.cat-info>p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.cat-info>h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}
