.page_category>section>header {
  margin-bottom: 2rem;
  box-shadow: 0 -10px 35px #930077;
  position: relative;
  overflow: hidden;
  height: 220px;
}

.page_category>section>header>img {
  position: relative;
  top: 50%;
  float: right;
  height: 150%;
  transform: translateY(-50%);
}

.cat-info {
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 2rem 3rem;
  transform: translateY(-50%);
}

.cat-info>p,
.cat-info>h1 {
  margin: 1rem 0;
  text-align: left;
}

.cat-info>p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.cat-info>h1 {
  text-transform: uppercase;
  font-size: 2.2rem;
}
