.page_category>section>header,
.page_articles>section>header {
  border-bottom: 2px solid #930077;
  box-shadow: 0 -10px 35px #930077;
  position: relative;
  overflow: hidden;
  height: 220px;
}

.page_articles>section>header {
  height: 150px;
}

.page_category>section>header>img,
.page_articles>section>header>img {
  position: relative;
  top: 50%;
  float: right;
  height: 150%;
  transform: translateY(-50%);
}

.cat-info {
  width: 100%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cat-info>p,
.cat-info>h1 {
  margin: 1rem 0;
  text-align: left;
}

.cat-info>p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.cat-info>h1 {
  text-transform: uppercase;
  font-size: 2.2rem;
}

.page_category>section>section.inner,
.page_articles>section>section.inner {
  display: flex;
  flex-direction: row;
}

.page_category>section>section.inner>aside,
.page_articles>section>section.inner>aside,
.page_category>section>section.inner>section,
.page_articles>section>section.inner>section {
  flex: 1;
}

.page_category>section>section.inner>aside,
.page_articles>section>section.inner>aside {
  flex-grow: 1;
}

.page_category>section>section.inner>section,
.page_articles>section>section.inner>section {
  flex-grow: 3;
  padding: 2rem 0;
}
