statics/images/articles
statics/images/categories
statics/images/catalogos
.htaccess
logfile.txt
error_log
error.*

# IGNORE TO AVOID COMMIT
__administrar-pedidos/
__administrar-usuarios/
__app/
__core/
__detalle/
__logout/
__mis-pedidos/
__suscripcion/
statics/__css/
