.form-login form {
  max-width: 500px;
}

.form-login form .form-line {
  padding: .5rem;
}

.form-login form .form-line label.icon-label {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #930077;
  border-top-left-radius: .5rem !important;
  border-bottom-left-radius: .5rem !important;
}

.form-login form .form-line label i {
  color: #FFF;
}

.form-login form .form-line input {
  flex-grow: 6;
  box-shadow: 0 0 0 !important;
  border: 1px solid #930077 !important;
  border-radius: 0 !important;
  border-top-right-radius: .5rem !important;
  border-bottom-right-radius: .5rem !important;
}

.form-login form .remember,
.form-login form .help-line {
  display: block;
  font-size: .8rem;
}

.form-login form .form-line.error label.icon-label {
  background-color: red;
}
