/* GENERALS */
/* FONTS */
@font-face {
	font-family: 'ARBERKLEY';
	src: url('/statics/fonts/ARBERKLEY.ttf');
}

@font-face {
	font-family: 'ArialNarrow';
	src: url('/statics/fonts/arial-narrow.ttf');
}

@font-face {
	font-family: 'Bitter';
	src: url('/statics/fonts/Bitter-Regular.otf');
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/statics/fonts/proximanova-light-webfont.ttf') format("truetype");
}

@font-face {
	font-family: 'ProximaNovaIEOTF';
	src: url('/statics/fonts/ProximaNova-Light.otf') format("truetype");
}

/* GENERICS */
html {
	font-size: 16px;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: "ProximaNova", "ProximaNovaIEOTF";
	color: #222;
	/* background-color: #fafafa; */
}

img {
	display: inline-block;
	border: none;
}

hr {
	height: 1px;
	border: 0;
	background: #555;
}

a {
	color: #b52299;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

i.fas+*,
i.far+*,
i.fab+* {
	margin-left: 5px;
}

/* COMMONS */
.container .inner {
	max-width: 1200px;
	margin: auto;
}

.floating-debug-section {
	position: absolute;
	top: 9rem;
	right: 1rem;
	padding: 1rem;
	background: rgba(0, 0, 0, .8);
	font-size: 10px;
	color: #FFF;
}

.list-actions {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}

.list-actions>div {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.list-actions>div span,
.list-actions>div a {
	display: block;
	padding: .5rem 1rem;
}

.list-actions>div span {
	font-weight: bold;
}

.list-actions>div a {}

.list-actions>div a:not(:last-child) {
	border-right: 1px solid;
}

.list-actions .per-page {
	justify-content: flex-end;
}

.list-actions .pagination {
	/* justify-content: flex-end; */
}

/* HEADER */
header {
	position: relative;
	z-index: 10;
	background: #222;
	box-shadow: 0 -5px 5px 5px #000;
	color: #FFF;
}

header .header-inner .site-nav {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid #555;
}

header .logo {
	font-size: 2rem;
	color: #b52299;
}

/* NAVIGATION */
header .header-inner .store-nav {
	display: flex;
	flex-direction: row;
	padding: 8px;
}

.store-nav>* {
	flex: 1;
}

.store-nav .navigation {
	display: flex;
	flex-direction: row;
}

.store-nav .navigation a.access-menu {
	display: block;
	padding: 0 12px;
	height: 2.5rem;
	box-sizing: border-box;
	color: #FFF;
	font-size: .8rem;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 2.5rem;
}

.store-nav .navigation a.access-menu:hover {
	color: #b52299;
	border-bottom: 2px solid #b52299;
}

.store-nav .navigation a.access-menu .fas,
.store-nav .navigation a.access-menu .far {
	font-size: 1rem;
}

.store-nav .navigation a.access-menu:not(:last-child) {
	border-right: 1px solid #555;
}

/* DROPDOWN NAVIGATION */
.store-nav .navigation .dropdown-nav {
	display: inline-block;
	position: relative;
}

.store-nav .navigation .dropdown {
	display: none;
	position: absolute;
	width: auto;
	min-width: calc(100% - 1px);
	left: -1px;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	border-bottom: 1px solid #555;
	background: #222;
}

.store-nav .navigation .dropdown a {
	display: block;
	border: none !important;
}

.store-nav .navigation .dropdown-nav .dropdown:hover,
.store-nav .navigation .dropdown-nav:hover .dropdown {
	display: block;
}

/* SEARCH FORM */
.store-nav .search-box form {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.store-nav .search-box form .search-input,
.store-nav .search-box form .search-button {
	height: 2.2rem;
	line-height: 2.2rem;
	padding: 0;
	margin: 0;
	border: 0;
	background: #fff;
	outline: none;
}

.store-nav .search-box form .search-input {
	width: 50%;
	padding: 0 1rem;
	border-top-left-radius: 1.1rem;
	border-bottom-left-radius: 1.1rem;
}

.store-nav .search-box form .search-button {
	padding: 0 .6rem;
	border-top-right-radius: 1.1rem;
	border-bottom-right-radius: 1.1rem;
	color: #b52299;
}

/* USER ACTIONS */
.store-nav .user-actions .user-links {
	justify-content: flex-end;
}

/* CONTENTS */
/* GRIDS */
/* CATEGORIES */
.articles,
.categories {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.inner h1 {
	position: relative;
	margin-bottom: 2.5rem;
	text-align: center;
	text-transform: capitalize;
	font-size: 2rem;
	font-weight: normal;
}

h1.shadowed-title {
	position: relative;
	margin-top: 4rem;
}
h1.shadowed-title .title-shadow {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -45%);
	color: rgba(147, 0, 119, .1);
	font-size: 5rem;
	font-weight: bold;
}
h1.shadowed-title .title {
	position: relative;
}

.inner h1::after {
	content: "";
	position: absolute;
	width: 120px;
	bottom: -15px;
	left: 50%;
	border-bottom: 2px solid #333;
	transform: translateX(-50%);
}

.articles li,
.categories li {
	box-sizing: border-box;
	width: 32%;
	margin-bottom: 1.8rem;
	background: #999;
	box-shadow: 0 0 15px rgba(147, 0, 119, .15);
	transition: box-shadow .3s ease;
}

.categories li:hover {
	box-shadow: 0 0px 25px 0 rgba(147, 0, 119, .5);
}

.categories li:nth-child(3n+2),
.articles li:nth-child(3n+2),
.articles li:nth-child(3n+2) {
	margin-left: 2%;
	margin-right: 2%;
}

.categories li article,
.articles li {
	position: relative;
}

.categories li article img,
.articles li article img,
.articles li article img {
	display: block;
	max-width: 100%;
}

.categories li article .cat-info {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60%;
	padding: 1rem;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, .9);
}

.categories li article .cat-info *,
.articles li article .article-info *,
.articles li article .article-info * {
	display: block;
}

.categories li article .cat-info span,
.articles li article .article-info span,
.articles li article .article-info span {
	font-size: .8rem;
}

.categories li article .cat-info span:last-child {
	font-weight: bold;
}

.categories li article .cat-info a,
.articles li article .article-info a,
.articles li article .article-info a {
	font-size: 1.3rem;
	text-transform: uppercase;
	line-height: 2rem;
}

.articles li,
.articles li {
	box-shadow: 0 0 25px rgba(147, 0, 119, .15);
	background: #FFF;
}

.articles li article.new::before,
.articles li article.featured::before {
	position: absolute;
	color: #FFF;
	font-size: 1.2rem;
	text-transform: uppercase;
	padding: 10px 20px;
	top: 1rem;
	left: 1rem;
}

.articles li article.new::before {
	content: "Nuevo";
	background: orange;
}

.articles li article.featured::before {
	content: "Destacado";
	background: blueviolet;
}

.articles li article.new hr,
.articles li article.featured hr {
	width: 84%;
	height: 1px;
	background: #930077;
}

.articles li article.new .article-info,
.articles li article.featured .article-info,
.articles li article.new .actions,
.articles li article.featured .actions {
	padding: 8%;
}

/* .articles li article.new .actions,
featured .articles li article.new .actions {
	padding: 8%;
} */
.articles li article.new .article-info .price,
.articles li article.featured .article-info .price {
	display: inline-block;
	margin-right: 1rem;
	font-size: 1.8rem;
	font-weight: 400;
}

.articles li article.new .article-info .price.before,
.articles li article.featured .article-info .price.before {
	font-size: 1.3rem;
	font-weight: normal;
	text-decoration: line-through;
}

/* .articles li article.new .article-info .price.after,
.articles li article.featured .article-info .price.after {} */

/* FOOTER */
footer {
	background: #222;
}

footer .footer-columns {
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 20px;
	max-width: 1200px;
}

footer .footer-columns>section {
	flex: 1;
	padding: 0 20px;
	color: #FFF;
}

footer .footer-columns>section h3 {
	font-weight: normal;
}

footer .footer-columns>section p {
	line-height: 1.5rem;
}

footer .footer-columns>section ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.5rem;
}

footer .footer-columns>section .links li::before {
	content: "\f0da";
	display: inline-block;
	margin-right: 10px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

footer .footer-columns .subscribe form {
	display: flex;
}

/* SUBSCRIBE FORM */
footer .footer-columns .subscribe form .subscribe-input,
footer .footer-columns .subscribe form .subscribe-button {
	height: 2.2rem;
	line-height: 2.2rem;
	padding: 0;
	margin: 0;
	border: 0;
	background: #fff;
	outline: none;
}

footer .footer-columns .subscribe form .subscribe-input {
	width: 50%;
	padding: 0 1rem;
	border-top-left-radius: 1.1rem;
	border-bottom-left-radius: 1.1rem;
}

footer .footer-columns .subscribe form .subscribe-button {
	padding: 0 .6rem;
	border-top-right-radius: 1.1rem;
	border-bottom-right-radius: 1.1rem;
	background: #930077;
	font-size: .6rem;
	text-transform: uppercase;
	color: #FFF;
}

/* COPYRIGHTS */
footer .rights {
	position: relative;
	margin: 0;
	margin-top: 20px;
	padding: 20px;
	font-size: 12px;
	text-align: center;
	color: #FFF;
	background: #333;
}

footer .rights::before {
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-top: 1px solid #555;
}
