/* GENERALS */
/* FONTS */
@font-face {
	font-family: 'ARBERKLEY';
	src: url('/statics/fonts/ARBERKLEY.ttf');
}
@font-face {
	font-family: 'ArialNarrow';
	src: url('/statics/fonts/arial-narrow.ttf');
}
@font-face {
	font-family: 'Bitter';
	src: url('/statics/fonts/Bitter-Regular.otf');
}
@font-face {
	font-family: 'ProximaNova';
	src: url('/statics/fonts/proximanova-light-webfont.ttf') format("truetype");
}
@font-face {
	font-family: 'ProximaNovaIEOTF';
	src: url('/statics/fonts/ProximaNova-Light.otf') format("truetype");
}

/* GENERICS */
html {
	font-size: 16px;
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	font-family: "ProximaNova", "ProximaNovaIEOTF";
	color: #222;
}
img {
	display: inline-block;
	border: none;
}
hr {
	height: 1px;
	border: 0;
	background: #555;
}
a {
	color: #b52299;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
i.fas + *,
i.far + *,
i.fab + * {
	margin-left: 5px;
}

/* COMMONS */
/* -- */

/* HEADER */
header {
	position: relative;
	z-index: 10;
	background: #222;
	box-shadow: 0 -5px 5px 5px #000;
	color: #FFF;
}
header .header-inner .site-nav {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid #555;
}
header .logo {
	font-size: 2rem;
	color: #b52299;
}

/* NAVIGATION */
header .header-inner .store-nav {
	display: flex;
	flex-direction: row;
	padding: 8px;
}
.store-nav > * {
	flex: 1;
}
.store-nav .navigation {
	display: flex;
	flex-direction: row;
}
.store-nav .navigation a.access-menu {
	display: block;
	padding: 0 12px;
	height: 2.5rem;
	box-sizing: border-box;
	color: #FFF;
	font-size: .8rem;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 2.5rem;
}
.store-nav .navigation a.access-menu:hover {
	color: #b52299;
	border-bottom: 2px solid #b52299;
}
.store-nav .navigation a.access-menu .fas,
.store-nav .navigation a.access-menu .far {
	font-size: 1rem;
}
.store-nav .navigation a.access-menu:not(:last-child) {
	border-right: 1px solid #555;
}

/* DROPDOWN NAVIGATION */
.store-nav .navigation .dropdown-nav {
	display: inline-block;
	position: relative;
}
.store-nav .navigation .dropdown {
	display: none;
	position: absolute;
	width: auto;
	min-width: calc(100% - 1px);
	left: -1px;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	border-bottom: 1px solid #555;
	background: #222;
}
.store-nav .navigation .dropdown a {
	display: block;
	border: none !important;
}
.store-nav .navigation .dropdown-nav .dropdown:hover,
.store-nav .navigation .dropdown-nav:hover .dropdown {
	display: block;
}

/* SEARCH FORM */
.store-nav .search-box form {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.store-nav .search-box form .search-input,
.store-nav .search-box form .search-button {
	height: 2.2rem;
	line-height: 2.2rem;
	padding: 0;
	margin: 0;
	border: 0;
	background: #fff;
	outline: none;
}
.store-nav .search-box form .search-input {
	width: 50%;
	padding: 0 1rem;
	border-top-left-radius: 1.1rem;
	border-bottom-left-radius: 1.1rem;
}
.store-nav .search-box form .search-button {
	padding: 0 .6rem;
	border-top-right-radius: 1.1rem;
	border-bottom-right-radius: 1.1rem;
	color: #b52299;
}

/* USER ACTIONS */
.store-nav .user-actions .user-links {
	justify-content: flex-end;
}

/* FOOTER */
footer {
	background: #222;
}
footer .footer-columns {
	display: flex;
	flex-direction: row;
	margin: auto;
	padding: 20px;
	max-width: 1200px;
}
footer .footer-columns > section {
	flex: 1;
	padding: 0 20px;
	color: #FFF;
}
footer .footer-columns > section h3 {
	font-weight: normal;
}
footer .footer-columns > section p {
	line-height: 1.5rem;
}
footer .footer-columns > section ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.5rem;
}
footer .footer-columns>section .links li::before {
	content: "\f0da";
	display: inline-block;
	margin-right: 10px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}
footer .footer-columns .subscribe form {
	display: flex;
}

/* SUBSCRIBE FORM */
footer .footer-columns .subscribe form .subscribe-input,
footer .footer-columns .subscribe form .subscribe-button {
	height: 2.2rem;
	line-height: 2.2rem;
	padding: 0;
	margin: 0;
	border: 0;
	background: #fff;
	outline: none;
}

footer .footer-columns .subscribe form .subscribe-input {
	width: 50%;
	padding: 0 1rem;
	border-top-left-radius: 1.1rem;
	border-bottom-left-radius: 1.1rem;
}

footer .footer-columns .subscribe form .subscribe-button {
	padding: 0 .6rem;
	border-top-right-radius: 1.1rem;
	border-bottom-right-radius: 1.1rem;
	background: #930077;
	font-size: .6rem;
	text-transform: uppercase;
	color: #FFF;
}

/* COPYRIGHTS */
footer .rights {
	position: relative;
	margin: 0;
	margin-top: 20px;
	padding: 20px;
	font-size: 12px;
	text-align: center;
	color: #FFF;
	background: #333;
}
footer .rights::before {
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border-top: 1px solid #555;
}
