 .div-account {
  display: flex;
  flex-direction: row;
  padding: 0%;
  margin: 0%;
}

.form-edit .info-section {
  flex-grow: 1;
}

.info-section{
  margin: 30px;
  padding-right: 100px;
}

.form-edit{
  margin: 30px;
  padding-left: 100px;
}

#button-center {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.input-space { 
  margin-right: 10px;
}


