 .div-account {
  display: flex;
  flex-direction: row;
  padding: 0%;
  margin: 0%;
}

.h2-name {
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.info-section{
  box-shadow:0 0 15px rgba(147, 0, 119, .15);
  margin: 2rem;
  flex-grow: 1;
}

.form-margin{
  margin-bottom: 0rem;
}

.menu {
  box-shadow:0 0 15px rgba(147, 0, 119, .15);
  padding: 17px;
  color: black ;
}

.menu:hover {
  color: #b52299;
}

.form-edit{
  margin: 2rem;
  flex-grow: 2;
}

#button-center {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.input-space { 
  margin-right: 10px;
}

ol{
  padding: 20px;
  margin: 0px;
}