@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');

/* GENERALS */
/* FONTS */
@font-face {
  font-family: 'ARBERKLEY';
  src: url('fonts/ARBERKLEY.ttf');
}

@font-face {
  font-family: 'ArialNarrow';
  src: url('fonts/arial-narrow.ttf');
}

@font-face {
  font-family: 'ProximaNovaIEOTF';
  src: url('fonts/ProximaNova-Light.otf') format("truetype");
}

/* GENERICS */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Arial", sans-serif
}

h1 {
  text-align: center;
}

img {
  display: inline-block;
  border: none;
}

hr {
  height: 1px;
  border: 0;
  background: #555;
}

a {
  color: #b52299;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

i.fas+*,
i.far+*,
i.fab+* {
  margin-left: 5px;
}

/* COMMONS */
.floating-messages {
  position: fixed;
  z-index: 11;
  right: 1rem;
  bottom: 0;
}

.floating-messages .message {
  position: relative;
  width: 300px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: #FFF;
  text-align: center;
  animation:
    showMessage .5s ease,
    hideMessage .5s ease 8s forwards;
}

.floating-messages .message.succeed {
  background-color: rgba(63,191,63,.85);
}

.floating-messages .message.warning {
  background-color: rgba(255,165,0,.85);
}

.floating-messages .message.error {
  background-color: rgba(255,0,0,.85);
}

.spin {
  animation: spinAnimation .5s infinite ease;
  pointer-events: none;
}

.blur {
  filter: blur(2px);
}

.invisible {
  animation: visibleAnimation .3s reverse forwards ease;
  display: none;
  opacity: 1;
}

.visible {
  animation: visibleAnimation .3s forwards ease;
  display: initial;
  opacity: 0;
}

.collapsable {
  overflow: hidden;
  transition: height .3s ease;
}

.collapsable.open {
  height: auto;
}

.collapsable.closed {
  height: 0;
}

.bg-green {
  background-color: #6DA128 !important;
}

.border-green {
  border-color: #6DA128 !important;
}

.bg-red {
  background-color: #C71D14 !important;
}

.border-red {
  border-color: #C71D14 !important;
}

.error {
  color: red;
}

@keyframes visibleAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes showMessage {
  from {
    right: -120%;
  }
  to {
    right: 0;
  }
}

@keyframes hideMessage {
  from {
    right: 0;
  }
  to {
    right: -120%;
  }
}

.align-center,
.align-right {
  display: block !important;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.inner {
  max-width: 1200px;
  margin: auto;
}

.full-inner {
  max-width: 100%;
  padding: 0 2rem;
}

.list-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.list-actions>div {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.list-actions>div span,
.list-actions>div a {
  display: block;
  padding: .5rem 1rem;
}

.list-actions>div span {
  font-weight: bold;
}

.list-actions>div a.active {
  background-color: #b52299;
  color: #fff;
}

.list-actions>div a:not(:last-child) {
  border-right: 1px solid;
}

.list-actions .per-page {
  justify-content: flex-end;
}

.shadowed-title {
  position: relative;
  margin: 2em 0;
  text-align: center;
}

.shadowed-title span {
  white-space: nowrap;
}

.shadowed-title .title-shadow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -45%);
  color: rgba(147, 0, 119, .1);
  font-size: 3em;
  font-weight: bold;
}

.shadowed-title .title {
  position: relative;
}

.empty-list {
  text-align: center;
}

.button {
  width: 40%;
  padding: 1rem;
  background-color: rgb(240, 240, 240);
  color: #000;
  font-family: Arial;
  font-size: .85rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: 0 4px 6px -4px #b52299;
  outline: none;
}

.button.icon {
  border-radius: 50%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  width: 50px;
}

.button.primary {
  background: #930077;
  border: 2px solid #930077;
  color: #FFF;
}

.button.secondary {
  border: 2px solid #930077;
}

.button.disabled,
.button.primary.disabled,
.button.secondary.disabled,
.button.disabled:focus,
.button.primary.disabled:focus,
.button.secondary.disabled:focus,
.button.disabled:active,
.button.primary.disabled:active,
.button.secondary.disabled:active {
  background: #efefef;
  border: 2px solid #999;
  color: #999;
}

.button.primary:active,
.button.secondary:active {
  border: 2px solid #FFF;
  box-shadow:
    0 0px 2px #b52299,
    0 4px 6px -4px #b52299;
}

/* CONTENTS */
/* GRIDS */
/* CATEGORIES */
.articles,
.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.categories {
  justify-content: space-between;	
}

.articles {
  align-items: flex-start;
}

.articles li,
.categories li {
  margin-bottom: 1.8rem;
  box-shadow: 0 0 15px rgba(147, 0, 119, .15);
  transition: box-shadow .3s ease;
}

.categories li {
  width: 49%;
}

.articles li {
  width: 32%;
}

.articles li:nth-child(3n-1) {
  margin: 0 2%;
}

.categories li:hover,
.articles li:hover {
  box-shadow: 0 0px 25px 0 rgba(147, 0, 119, .5);
}

.categories li article,
.articles li article {
  position: relative;
}

.categories li article {
  height: 200px;
}

.articles li article {
  overflow: hidden;
}

.categories li article img,
.articles li article img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.categories li article img {
  float: right;
}

.categories li article .cat-info {
  position: absolute;
  left: 0;
  top: 50%;
  width: 60%;
  padding: 2rem;
  transform: translateY(-50%);
}

.categories li article .cat-info *,
.articles li article .article-info * {
  display: block;
}

.categories li article .cat-info span,
.articles li article .article-info span {
  font-size: 1rem;
}

.categories li article .cat-info span:last-child {
  font-weight: bold;
}

.categories li article .cat-info a,
.articles li article .article-info a {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 2rem;
}

.articles li {
  box-shadow: 0 0 25px rgba(147, 0, 119, .15);
  background: #FFF;
}

.articles li article.new::before,
.articles li article.featured::before,
.articles li article.offer::before,
.articles li article.spent::before {
  position: absolute;
  color: #FFF;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 20px;
  top: 1rem;
  left: 1rem;
}

.details .article-info.new::before,
.details .article-info.featured::before,
.details .article-info.offer::before,
.details .article-info.spent::before {
  position: absolute;
  color: #FFF;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 20px;
  top: 0;
  right: -20px;
  transform: rotate(25deg);
}

.articles li article.new::before,
.details .article-info.new::before {
  content: "Nuevo";
  background: orange;
}

.articles li article.featured::before,
.details.featured::before {
  content: "Destacado";
  background: blueviolet;
}

.articles li article.offer::before,
.details.offer::before {
  content: "Oferta";
  background: greenyellow;
}

.articles li article.spent::before,
.details.spent::before {
  content: "Agotado";
  background: grey;
}

.articles li article hr,
.articles li article.new hr,
.articles li article.featured hr {
  width: 84%;
  height: 1px;
  background: #930077;
}

.articles li article .article-info,
.articles li article.new .article-info,
.articles li article.featured .article-info,
.articles li article.offer .article-info,
.articles li article.spent .article-info,
.articles li article .actions,
.articles li article.new .actions,
.articles li article.featured .actions,
.articles li article.offer .actions,
.articles li article.spent .actions {
  padding: 8%;
}

.articles li article .article-info .price,
.articles li article.new .article-info .price,
.articles li article.featured .article-info .price,
.articles li article.offer .article-info .price,
.articles li article.spent .article-info .price {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.articles li article .article-info .price.before,
.articles li article.new .article-info .price.before,
.articles li article.featured .article-info .price.before,
.articles li article.offer .article-info .price.before,
.articles li article.spent .article-info .price.before {
  font-size: 1.3rem;
  font-weight: normal;
  text-decoration: line-through;
}

/* ARTICLE DETAILS */
.details {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 70%;
  max-width: 1200px;
  margin: auto;
  margin-top: 3rem;
  box-sizing: border-box;
}

.not-dscp {
  margin-bottom: 7rem;
}

.details .img-container {
  width: 58%;
  box-sizing: border-box;
}

.details .img-container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.details .article-info {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 2rem;
  padding-top: 1.5rem;
  width: 42%;
  box-sizing: border-box;
}

.details .article-info .article-path {
  display: inline;
  font-size: .6rem;
}

.details .article-info .article-path a:hover {
  text-decoration: none;
}

.details .article-info h4 {
  margin: 0 0 1rem 0;
  font-size: 1.4rem;
}

.details .article-info .price {
  font-size: 2rem;
}

.details .article-info .stock {
  margin-top: .5rem;
  margin-bottom: 2rem;
  font-size: .8rem;
}

.details .article-info .actions a {
  background-color: #b52299;
  padding: .8rem;
  color: #fff;
  font-size: .8rem;
  transition: .1s all ease;
}

.details .article-info .actions a:hover {
  text-decoration: none;
  background-color: #971980;
}

.details .article-info .link-description {
  margin-top: 1.2rem;
  margin-left: 10px;
  font-size: .8rem;
}

.article-description {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 8rem;
  padding: 3rem 6rem;
  padding-top: 5rem;
  background-color: #f1f1f1;
}

.article-description .subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  color: #b52299;
  margin: 0;
}

.article-description hr {
  border: 1px #222 solid;
  opacity: .2;
  height: 0;
  width: 100%;
  background: none;
  margin-top: 1rem;
}

.article-description p {
  font-size: 1rem;
  opacity: 0.9;
  line-height: 1.3rem;
}

/* XS */
@media only screen and (min-width: 0px) and (max-width: 800px) {
  .details {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .details .img-container {
    width: 100%;
  }
  
  .details .article-info {
    padding: 5rem 1rem;
    width: 100%;
    text-align: center;
  }

  .details .article-info .article-path {
    font-size: 1rem;
    margin-bottom: .8rem;
  }
  
  .details .article-info .price {
    margin-top: .4rem;
    font-size: 2.2rem;
  }

  .details .article-info .stock {
    margin-bottom: 3rem;
  }
  
  .details .article-info .actions a {
    padding: 1.2rem 2rem;
    font-size: .9rem;
  }
  
  .details .article-info .link-description {
    margin-top: 3.2rem;
  }

  .article-description {
    width: 90%;
    padding: 3rem 2rem;
    padding-top: 5rem;
  }
  
  .article-description .subtitle {
    font-size: 1.5rem;
  }
  
  .article-description p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

/* S */
@media only screen and (min-width: 451px) and (max-width: 800px) {
  .details {
    width: 80%;
  }
  
  .details .article-info {
    padding: 5rem 3rem;
  }

  .details .article-info .article-path {
    margin-bottom: .3rem;
  }
  
  .details .article-info h4 {
    padding: 0 2rem;
  }

  .details .article-info .price {
    margin-top: 1rem;
    font-size: 2.2rem;
  }
  
  .details .article-info .actions a {
    padding: 1.2rem 4rem;
  }

  .article-description {
    width: 80%;
    padding: 3rem 4rem;
  }
  
  .article-description .subtitle {
    font-size: 1.6rem;
  }
  
  .article-description p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

/* L */
@media only screen and (min-width: 1200px) {  
  .details .article-info {
    padding: 2.5rem;
  }
  
  .details .article-info .article-path {
    font-size: 1rem;
  }
  
  .details .article-info h4 {
    margin: 0 0 1.5rem 0;
    font-size: 1.8rem;
  }
  
  .details .article-info .price {
    font-size: 2.5rem;
  }
  
  .details .article-info .stock {
    margin-top: .5rem;
    margin-bottom: 3rem;
    font-size: 1rem;
  }
  
  .details .article-info .actions a {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  
  .details .article-info .link-description {
    margin-top: 2rem;
    font-size: 1.1rem;
  }

  .article-description {
    padding-top: 8rem;
  }

  .article-description .subtitle {
    font-size: 1.8rem;
  }
  
  .article-description p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}

/* XL */
@media only screen and (min-width: 1500px) {  
  .details .article-info {
    padding: 2.7rem;
  }
  
  .details .article-info .article-path {
    font-size: 1.3rem;
  }
  
  .details .article-info h4 {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  
  .details .article-info .price {
    font-size: 2.9rem;
  }
  
  .details .article-info .stock {
    margin-bottom: 3rem;
    font-size: 1.3rem;
  }
  
  .details .article-info .actions a {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }
  
  .details .article-info .link-description {
    font-size: 1.3rem;
  }

  .article-description {
    padding-top: 8rem;
  }

  .article-description .subtitle {
    font-size: 1.6rem;
  }
  
  .article-description p {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}  