.cart-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.cart-empty {
  text-align: center;
  margin-bottom: 2rem;
}

.cart-empty a.button {
  display: inline-block;
  width: 25%;
  margin: .5rem;
}

.cart-items,
.cart-summary {
  flex: 1;
}

.cart-items {
  flex-grow: 5;
  margin-right: 2rem;
}

.cart-items .cell.span-2 {
  text-align: center;
}

.cart-items .in-cart-article >* {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-items .in-cart-article .article-info {
  display: flex;
  flex-direction: row;
}

.cart-items .in-cart-article .article-info >* {
  flex: 1;
}

.cart-items .in-cart-article .article-info .image {
  flex-grow: 1;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 35px -15px rgba(0, 0, 0, .75);
  margin-right: 1rem;
}

.cart-items .in-cart-article .article-info .image img {
  display: block;
  width: 100%;
}

.cart-items .in-cart-article .article-info .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
}

.cart-items .in-cart-article .article-info .title h3 {
  margin: 0;
  margin-bottom: .5rem;
}

.cart-items .in-cart-article .article-info .title span {
  color: #aaa;
}

.cart-items .in-cart-article .article-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-items .in-cart-article .article-quantity input {
  width: 50%;
  padding: .5rem;
}

.cart-items .in-cart-article .article-actions {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-items .in-cart-article .article-actions a {
  font-size: 1.5rem;
  margin: 0 .75rem;
}

.cart-summary {
  flex-grow: 2;
  padding: 2rem;
  background-color: #fafafa;
  box-shadow: 0 0 25px rgba(147, 0, 119, .15);
}

.cart-summary h2 {
  margin: 0;
  margin-bottom: 1rem;
}

.cart-summary hr {
  background-color: transparent;
  border: 1px dashed #ccc;
}

.cart-summary .summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 2rem;
}
.cart-summary .summary >* {
  display: block;
  min-width: 50%;
  color: #666;
}

.cart-summary .summary .value {
  text-align: right;
  font-weight: bold;
}

.cart-summary .summary.actions {
  margin-top: 2rem;
}

.cart-summary .summary.actions a {
  min-width: 100%;
  line-height: 1rem;
  color: #FFF;
}
