
.payment-content {
  display: flex;
  align-items: flex-start;
}

.payment-content >* {
  flex: 1;
}

.payment-form {
  flex: 5;
  flex-grow: 5;
  margin-right: 2rem;
}

.payment-form form {
  width: 100%;
  max-width: 100%;
}

.payment-form form fieldset {
  border: 2px dashed #930077;
  border-radius: 1rem;
}

.payment-form form fieldset legend,
.shipping-form form fieldset legend {
  font-size: 1.6rem;
  padding: 0 1rem;
}

.payment-form form fieldset legend >span,
.shipping-form form fieldset legend >span {
  background: #930077;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 60px;
}

.payment-form form .form-group.group-grid p,
.shipping-form form .form-group.group-grid p {
  line-height: 2rem;
  padding: 0;
  margin: 0;
}

.billing-info .form-group.group-grid.columns-3 >*,
.shipping-info .form-group.group-grid.columns-3 >* {
  width: 40%;
}

.billing-info .form-group.group-grid.columns-3 >.span-2,
.shipping-info .form-group.group-grid.columns-3 >.span-2 {
  width: 80%;
}

.billing-info .form-group.group-grid .side-actions,
.shipping-info .form-group.group-grid .side-actions {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  height: 60px;
}

.billing-info .form-group.group-grid .side-actions >.button,
.shipping-info .form-group.group-grid .side-actions >.button {
  align-items: center;
  border-radius: .5rem;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.payment-form form .form-group.group-grid >label,
.shipping-form form .form-group.group-grid >label {
  display: flex;
  padding: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.payment-form form .form-group.group-grid >label >input,
.shipping-form form .form-group.group-grid >label >input {
  margin-right: 1rem;
}

.payment-form form .form-group.group-grid >label >span,
.shipping-form form .form-group.group-grid >label >span {
  line-height: 1.5rem;
}
