.div-account {
  display: flex;
  flex-direction: row;
  padding: 0%;
  box-sizing: border-box;
}

.title-account {
  text-align: center;
}

.info-section {
  box-shadow: 0 0 15px rgba(147, 0, 119, 0.15);
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 320px;
  justify-content: center;
  align-items: center;
  height: 745px;
}

.info-section nav {
  width: 80%;
}

.form-section .info-section {
  box-sizing: border-box;
  margin: 2rem;
  padding: 30px;
}

.form-section {
  width: calc(100% - 300px);
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

.form-section form {
  width: auto;
  max-width: 100%;
  height: 745px;
}

.form-section div {
  margin: 30px;
}

.list-section {
  margin: 10px;
  padding: 10px;
  max-height: 375px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

ul.list-section {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.list-section li > a {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 1rem;
  color: black;
  margin-bottom: 0px;
  justify-content: space-between;
  text-decoration: none;
}

ul.list-section li > a:hover {
  border-bottom: 1px solid #b52299;
  color: #b52299;
}

ul.list-section li > .active {
  border-bottom: 1px solid #b52299;
  color: #b52299;
}

ul.list-section li > a:hover > span {
  padding-left: 1rem;
}

.photo {
  margin: 10px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
}

.photo:hover {
  margin: 10px;
  border-radius: 100%;
  overflow: hidden;
}

.photo img {
  max-height: 100%;
}

.form-margin {
  margin-bottom: 0rem;
}

#button-center {
  margin: 30px;
}

.label-center {
  text-align: center;
}
