.payment-form {
  flex: 5;
  flex-grow: 5;
  margin-right: 2rem;
}

.payment-form form {}

.payment-form form fieldset {
  margin-bottom: 1.5rem;
  border: 2px solid #930077;
}

.payment-form form fieldset legend {
  font-size: 1.6rem;
  padding: 0 1rem;
}

.payment-form form .form-group.group-grid {}

.payment-form form .form-group.group-grid >label {
  display: flex;
  padding: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.payment-form form .form-group.group-grid >label >* {}

.payment-form form .form-group.group-grid >label >input {
  margin-right: 1rem;
}

.payment-form form .form-group.group-grid >label >span {
  line-height: 1.5rem;
}
