.payment-form {
  flex: 5;
  flex-grow: 5;
  margin-right: 2rem;
}

.payment-form form fieldset {
  margin-bottom: 1.5rem;
  border: 2px solid #930077;
}

.payment-form form fieldset legend {
  font-size: 1.6rem;
  padding: 0 1rem;
}

.payment-form form .form-group.group-grid.columns-3 >* {
  width: 40%;
}

.payment-form form .form-group.group-grid .side-actions {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.payment-form form .form-group.group-grid >label {
  display: flex;
  padding: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.payment-form form .form-group.group-grid >label >input {
  margin-right: 1rem;
}

.payment-form form .form-group.group-grid >label >span {
  line-height: 1.5rem;
}
