.form-pass {
  box-sizing: border-box;
  width: calc(100% - 300px);
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

.form-pass form {
  width: auto;
  max-width: 100%;
}

.form-pass div {
  margin: 30px;
}
